.leaderboard {
    margin-top: 25px;
    width: 100%;
}

.leaderboard .header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaderboard .header .header-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.leaderboard .rank {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.leaderboard .address {
    flex-basis: 40%;
}

.leaderboard .prize {
    flex-basis: 30%;
}

.leaderboard .time {
    flex: 30%;
}