#content1 {
    margin: 25px;
}

#content1 .right-side {
    text-align: right;
}

#content2 {
    margin: 25px;
    text-align: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#content3 table {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

#content3 th {
    padding: 25px;
}

#content3 td {
    padding: 25px;
}
